* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

main {
    display: flex;
    justify-content: center;
}

.main__wrapper {
    width: 1196px;
    margin-top: 20px;
    padding: 10px 12px;
}

.main__title h1 {
    font-size: 24px;
    margin-bottom: 15px;
}

.main__content {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
}

.content__item {
    width: 270px;
    min-height: 200px;
    padding: 5px 15px 10px 15px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 18px 3px rgba(34, 60, 80, 0.1);
    -moz-box-shadow: 0px 0px 18px 3px rgba(34, 60, 80, 0.1);
    box-shadow: 0px 0px 18px 3px rgba(34, 60, 80, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item--title {
    text-align: center;
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #115A9C;
    padding: 9px 10px;
    border-bottom: 1px solid #000;
}

.item--paragraph {
    margin: 10px 0;
}

.item--button {
    display: block;
    border: 1px solid #115A9C;
    border-radius: 8px;
    padding: 12px 16px;
}

.item--button:hover {
    transition: all .2s ease-out;
    background: #115A9C;
    color: #fff;
}